<h1>Listing kvs</h1>

<table>
  <tr>
    <th>Fields</th>
    <th>Values</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @kvs.each do |kv| %>
  <tr>
    <td><%= kv.fields %></td>
    <td><%= kv.values %></td>
    <td>
      <textarea cols="40" rows="10" id="post_body" name="post[body]">
        <%= calculate_latex_normal_form(kv) %>
      </textarea>
    </td>
    <td>
      <textarea cols="40" rows="10" id="post_body" name="post[body]">
        <%= calculate_latex_table(kv) %>
      </textarea>
    </td>

    <td><%= link_to 'Show', kv %></td>
    <td><%= link_to 'Edit', edit_kv_path(kv) %></td>
    <td><%= link_to 'Destroy', kv, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>

<% end %>
</table>

<br />

<%= link_to 'New Kv', new_kv_path %>
